!.gitignore
/*
!/51nod
!/csu
!/fzu
!/hdu
!/pku
!/review
!/xtu
!/zju
/51nod/*/*
!/51nod/*/*.cpp
/csu/*/*
!/csu/*/*.cpp
/fzu/*/*
!/fzu/*/*.cpp
/hdu/*/*
!/hdu/*/*.cpp
/pku/*/*
!/pku/*/*.cpp
/review/*/*
!/review/*/*.cpp
/xtu/*/*
!/xtu/*/*.cpp
/zju/*/*
!/zju/*/*.cpp
